table,
th,
td {
    border: 1px solid black;
}

main h3 {
    color: #e31717;
    ;
}

div form {
    border: 1px solid rgb(0, 0, 0);
    display: grid;
}

main table tr td {
    text-align: center;
}

main div{
    display: flex;
    align-content: space-between;
    align-items:center;
}


main {
    background-color: rgb(247, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
    padding-bottom: 15%;
}