footer {
  display: flex;
  background-color: rgb(31, 25, 25);
  display: flex;
  justify-content: space-between;
}

footer h4 {
  color: antiquewhite;
  font-size: large;
  padding-left: 2%;
  white-space: nowrap;
}

footer div a i,footer div i {
  color: antiquewhite;
}

footer div {
  margin: 2%;
  display: flex;
  justify-content: space-between;
}

#contactInfo {
  display: flex;
  gap: 10%;

}