header {
    background-color: rgb(31, 25, 25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#siteName {
    font-size: 150%;
    font-family: cursive;
}

.navBarElement {
    border-radius: 8%;
    padding: 1%;
    margin-right: 10%;
}

header a {
    color: #ece7e7;
    text-decoration: none;
    transition: color 0.7s;
    transition: background-color 0.5s;
}

a+a:hover {
    background-color: rgb(94, 154, 245);
    color: rgb(29, 27, 27);
}

#logo {
    width: 5%;
}