th,
td {
  border: 2px solid rgb(2, 2, 2);
}

main table tr td {
  text-align: center;
}

table {
  width: 30%; 
}

main {
  background-color: rgb(247, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
  padding-bottom: 20%;
}